:root {
  --blue-950: #15202a;
  --blue-500: #4c7bf3;
  --blue-250: #c2d3ff;
  --gray-400: #969696;
  --gray-100: #ebebeb;
  --gray-50: #fbfcff;
  --red-400: #ff5466;
  --green-500: #2ecc71;
}

/* libre-franklin-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/libre-franklin-v20-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* libre-franklin-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Libre Franklin";
  font-style: italic;
  font-weight: 300;
  src: url("assets/fonts/libre-franklin-v20-latin-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* libre-franklin-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/libre-franklin-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* libre-franklin-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Libre Franklin";
  font-style: italic;
  font-weight: 400;
  src: url("assets/fonts/libre-franklin-v20-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* libre-franklin-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/libre-franklin-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* libre-franklin-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Libre Franklin";
  font-style: italic;
  font-weight: 500;
  src: url("assets/fonts/libre-franklin-v20-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* libre-franklin-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/libre-franklin-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* libre-franklin-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Libre Franklin";
  font-style: italic;
  font-weight: 600;
  src: url("assets/fonts/libre-franklin-v20-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* libre-franklin-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/libre-franklin-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
/* @media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
} */

body {
  font-family: "Libre Franklin", "Trebuchet MS", Arial, Helvetica, sans-serif;
  /* 4. Add accessible line-height */
  line-height: 1;
  /* 5. Improve text rendering */
  /* -webkit-font-smoothing: antialiased; */
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
} */

/* 9. Improve line wrapping */
/* p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
} */

/*
  10. Create a root stacking context
*/
/* #root,
#__next {
  isolation: isolate;
} */

main {
  padding: 85px 28px 35px 28px;
  text-align: center;
}

.logo {
  margin-inline: auto;
  margin-block-end: 40px;
  width: clamp(3.3125rem, 2.7232142857142856rem + 2.946428571428571vw, 5.375rem);
}

.heading {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
  color: var(--gray-400);
  margin-block-end: 8px;
  span {
    font-weight: 700;
    color: var(--blue-950);
  }
}

.text {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.25;
  color: var(--blue-950);
  margin-block-end: 40px;
}

form {
  display: grid;
  row-gap: 8px;
  width: 88%;
  margin-inline: auto;
  margin-block-end: 72px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.25;
}

input[type="text"] {
  border: solid 1px var(--blue-250);
  border-radius: 28px;
  padding-block: 12.5px;
  padding-inline-start: 24px;
  color: var(--blue-250);
}

input[type="text"]:focus {
  outline: solid 1px var(--blue-500);
}

input[type="submit"] {
  box-shadow: 0 5px 10px 2px hsla(223, 87%, 63%, 23%);
  border: none;
  border-radius: 28px;
  padding-block: 12.5px;
  background-color: var(--blue-500);
  color: #fff;
}

input[type="submit"]:hover {
  cursor: pointer;
  opacity: 0.75;
}

.illustration {
  margin-block-end: 120px;
}

.social-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
}

a {
  border: solid 1px var(--blue-250);
  border-radius: 50%;
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-end: 24px;
}

a:hover {
  cursor: pointer;
  background-color: var(--blue-500);
}

.social-links-container a svg > rect {
  fill: #fff;
}

.social-links-container a svg g rect {
  fill: var(--blue-500);
}

.content-info {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.25;
  color: var(--gray-400);
}
